-- =====================================================
-- PROPERTY VIEW CALCULATION HELPERS
-- =====================================================
-- PostgreSQL functions for complex calculations used in PropertyView
-- Run this file to create helper functions before creating PropertyView
-- =====================================================

-- =====================================================
-- FUNCTION: Abbreviate Street Suffix
-- =====================================================
-- Converts full street suffix names to abbreviations
-- Used in: StreetSuffixShort, FullAddress, UnparsedAddress
CREATE OR REPLACE FUNCTION public.abbreviate_street_suffix(suffix TEXT)
RETURNS TEXT AS $$
BEGIN
  RETURN CASE
    WHEN suffix = 'N/A' THEN NULL
    WHEN UPPER(suffix) = 'AVENUE' THEN 'Ave'
    WHEN UPPER(suffix) = 'STREET' THEN 'St'
    WHEN UPPER(suffix) = 'BOULEVARD' THEN 'Blvd'
    WHEN UPPER(suffix) = 'DRIVE' THEN 'Dr'
    WHEN UPPER(suffix) = 'LANE' THEN 'Ln'
    WHEN UPPER(suffix) = 'ROAD' THEN 'Rd'
    WHEN UPPER(suffix) = 'COURT' THEN 'Ct'
    WHEN UPPER(suffix) = 'PLACE' THEN 'Pl'
    WHEN UPPER(suffix) = 'CIRCLE' THEN 'Cir'
    WHEN UPPER(suffix) = 'PARKWAY' THEN 'Pkwy'
    WHEN UPPER(suffix) = 'TRAIL' THEN 'Trl'
    WHEN UPPER(suffix) = 'WAY' THEN 'Way'
    WHEN UPPER(suffix) = 'TERRACE' THEN 'Ter'
    WHEN UPPER(suffix) = 'SQUARE' THEN 'Sq'
    WHEN UPPER(suffix) = 'CRESCENT' THEN 'Cres'
    WHEN UPPER(suffix) = 'GARDENS' THEN 'Gdns'
    WHEN UPPER(suffix) = 'COMMON' THEN 'Cm'
    WHEN UPPER(suffix) = 'GREEN' THEN 'Grn'
    WHEN UPPER(suffix) = 'HEIGHTS' THEN 'Hts'
    WHEN UPPER(suffix) = 'HILL' THEN 'Hl'
    WHEN UPPER(suffix) = 'HILLS' THEN 'Hls'
    WHEN UPPER(suffix) = 'MANOR' THEN 'Mnr'
    WHEN UPPER(suffix) = 'MEADOW' THEN 'Mdw'
    WHEN UPPER(suffix) = 'PARK' THEN 'Pk'
    WHEN UPPER(suffix) = 'RIDGE' THEN 'Rdg'
    WHEN UPPER(suffix) = 'RUN' THEN 'Rn'
    WHEN UPPER(suffix) = 'VIEW' THEN 'Vw'
    WHEN UPPER(suffix) = 'VILLAGE' THEN 'Vlg'
    WHEN UPPER(suffix) = 'WOODS' THEN 'Wds'
    WHEN UPPER(suffix) = 'CONCESSION' THEN 'Con'
    ELSE suffix
  END;
END;
$$ LANGUAGE plpgsql IMMUTABLE;

-- =====================================================
-- FUNCTION: Format Full Address
-- =====================================================
-- Formats address for display: UnitNumber-StreetNumber StreetName StreetSuffixShort, City, StateOrProvince PostalCode
CREATE OR REPLACE FUNCTION public.format_full_address(
  unit_number TEXT,
  street_number TEXT,
  street_name TEXT,
  street_suffix TEXT,
  city TEXT,
  state_or_province TEXT,
  postal_code TEXT
)
RETURNS TEXT AS $$
DECLARE
  suffix_short TEXT;
  normalized_city TEXT;
BEGIN
  IF street_number IS NULL OR street_name IS NULL THEN
    RETURN NULL;
  END IF;

  suffix_short := public.abbreviate_street_suffix(street_suffix);
  normalized_city := CASE
    WHEN city IS NULL THEN NULL
    ELSE TRIM(REGEXP_REPLACE(city, '\s+[C]\d+\s*$', '', 'gi'))
  END;

  RETURN CONCAT_WS(', ',
    CONCAT_WS(' ',
      CASE 
        WHEN unit_number IS NOT NULL 
          THEN CONCAT(unit_number, '-', street_number)
        ELSE street_number
      END,
      street_name, 
      suffix_short
    ),
    normalized_city,
    CONCAT_WS(' ', state_or_province, postal_code)
  );
END;
$$ LANGUAGE plpgsql IMMUTABLE;

-- =====================================================
-- FUNCTION: Format Unparsed Address
-- =====================================================
-- Formats complete address for geocoding: StreetNumber StreetName StreetSuffixShort Unit City, StateOrProvince PostalCode
CREATE OR REPLACE FUNCTION public.format_unparsed_address(
  unit_number TEXT,
  street_number TEXT,
  street_name TEXT,
  street_suffix TEXT,
  city TEXT,
  state_or_province TEXT,
  postal_code TEXT
)
RETURNS TEXT AS $$
DECLARE
  suffix_short TEXT;
BEGIN
  IF street_number IS NULL OR street_name IS NULL THEN
    RETURN NULL;
  END IF;

  suffix_short := public.abbreviate_street_suffix(street_suffix);

  RETURN CONCAT_WS(', ',
    CONCAT_WS(' ',
      street_number,
      street_name, 
      suffix_short,
      CASE WHEN unit_number IS NOT NULL THEN CONCAT('Unit ', unit_number) ELSE NULL END
    ),
    city,
    CONCAT_WS(' ', state_or_province, postal_code)
  );
END;
$$ LANGUAGE plpgsql IMMUTABLE;

-- =====================================================
-- FUNCTION: Parse Living Area Min
-- =====================================================
-- Extracts minimum value from living area range string
-- Handles: "1100-1500", "< 700", "> 1500", "5000 +", "1200"
CREATE OR REPLACE FUNCTION public.parse_living_area_min(area_range TEXT)
RETURNS INTEGER AS $$
BEGIN
  IF area_range IS NULL THEN
    RETURN NULL;
  END IF;

  -- Range format: "1100-1500" or "1100 - 1500" -> min = 1100
  IF area_range ~ '^\d+\s*-\s*\d+' THEN
    RETURN regexp_replace(
      split_part(REGEXP_REPLACE(area_range, '\s*-\s*', '-'), '-', 1),
      '[^0-9]', '', 'g'
    )::integer;
  END IF;

  -- Less than format: "< 700" or "<700" -> min = NULL
  IF area_range ~ '^<\s*\d+' THEN
    RETURN NULL;
  END IF;

  -- Greater than format: "> 1500" or ">1500" -> min = 1500
  IF area_range ~ '^>\s*\d+' THEN
    RETURN regexp_replace(area_range, '[^0-9]', '', 'g')::integer;
  END IF;

  -- Plus format: "5000 +" -> min = 5000
  IF area_range ~ '^\d+\s*\+' THEN
    RETURN regexp_replace(area_range, '[^0-9]', '', 'g')::integer;
  END IF;

  -- Single number format: "1200" -> min = 1200
  IF area_range ~ '^\d+$' THEN
    RETURN area_range::integer;
  END IF;

  RETURN NULL;
END;
$$ LANGUAGE plpgsql IMMUTABLE;

-- =====================================================
-- FUNCTION: Parse Living Area Max
-- =====================================================
-- Extracts maximum value from living area range string
CREATE OR REPLACE FUNCTION public.parse_living_area_max(area_range TEXT)
RETURNS INTEGER AS $$
BEGIN
  IF area_range IS NULL THEN
    RETURN NULL;
  END IF;

  -- Range format: "1100-1500" or "1100 - 1500" -> max = 1500
  IF area_range ~ '^\d+\s*-\s*\d+' THEN
    RETURN regexp_replace(
      split_part(REGEXP_REPLACE(area_range, '\s*-\s*', '-'), '-', 2),
      '[^0-9]', '', 'g'
    )::integer;
  END IF;

  -- Less than format: "< 700" or "<700" -> max = 700
  IF area_range ~ '^<\s*\d+' THEN
    RETURN regexp_replace(area_range, '[^0-9]', '', 'g')::integer;
  END IF;

  -- Greater than format: "> 1500" or ">1500" -> max = NULL
  IF area_range ~ '^>\s*\d+' THEN
    RETURN NULL;
  END IF;

  -- Plus format: "5000 +" -> max = NULL (unbounded)
  IF area_range ~ '^\d+\s*\+' THEN
    RETURN NULL;
  END IF;

  -- Single number format: "1200" -> max = 1200
  IF area_range ~ '^\d+$' THEN
    RETURN area_range::integer;
  END IF;

  RETURN NULL;
END;
$$ LANGUAGE plpgsql IMMUTABLE;

-- =====================================================
-- FUNCTION: Format Bedrooms Display
-- =====================================================
-- Formats bedrooms as "3+1 bd" or "4 bd"
CREATE OR REPLACE FUNCTION public.format_bedrooms_display(
  bedrooms_above INTEGER,
  bedrooms_below INTEGER
)
RETURNS TEXT AS $$
BEGIN
  IF bedrooms_above IS NULL AND bedrooms_below IS NULL THEN
    RETURN NULL;
  END IF;

  RETURN CONCAT(
    TRIM(TO_CHAR(COALESCE(bedrooms_above, 0)::integer, 'FM999')),
    CASE 
      WHEN bedrooms_below IS NOT NULL AND bedrooms_below > 0
        THEN CONCAT('+', TRIM(TO_CHAR(bedrooms_below::integer, 'FM999')))
      ELSE ''
    END
  );
END;
$$ LANGUAGE plpgsql IMMUTABLE;

-- =====================================================
-- FUNCTION: Format Bathrooms Display
-- =====================================================
-- Formats bathrooms as "2.5" or "3" (without "bath" suffix)
CREATE OR REPLACE FUNCTION public.format_bathrooms_display(bathrooms NUMERIC)
RETURNS TEXT AS $$
BEGIN
  IF bathrooms IS NULL THEN
    RETURN NULL;
  END IF;

  RETURN RTRIM(RTRIM(TO_CHAR(bathrooms, 'FM999.99'), '0'), '.');
END;
$$ LANGUAGE plpgsql IMMUTABLE;

-- =====================================================
-- FUNCTION: Format Parking Display
-- =====================================================
-- Formats parking as "2+4" (garage + driveway) similar to bedrooms display
CREATE OR REPLACE FUNCTION public.format_parking_display(
  garage_spaces INTEGER,
  driveway_spaces INTEGER
)
RETURNS TEXT AS $$
BEGIN
  IF garage_spaces IS NULL AND driveway_spaces IS NULL THEN
    RETURN NULL;
  END IF;

  RETURN CONCAT(
    TRIM(TO_CHAR(COALESCE(garage_spaces, 0)::integer, 'FM999')),
    CASE 
      WHEN driveway_spaces IS NOT NULL AND driveway_spaces > 0
        THEN CONCAT('+', TRIM(TO_CHAR(driveway_spaces::integer, 'FM999')))
      ELSE ''
    END
  );
END;
$$ LANGUAGE plpgsql IMMUTABLE;

-- =====================================================
-- FUNCTION: Calculate Lot Size in Acres
-- =====================================================
-- Converts lot dimensions (width x depth) to acres
CREATE OR REPLACE FUNCTION public.calculate_lot_size_acres(
  lot_width NUMERIC,
  lot_depth NUMERIC
)
RETURNS NUMERIC AS $$
BEGIN
  IF lot_width IS NULL OR lot_depth IS NULL OR lot_width <= 0 OR lot_depth <= 0 THEN
    RETURN NULL;
  END IF;

  RETURN ROUND((lot_width * lot_depth) / 43560.0, 4);
END;
$$ LANGUAGE plpgsql IMMUTABLE;

-- =====================================================
-- FUNCTION: Normalize Array to String
-- =====================================================
-- Converts array to comma-separated string, filtering out None/Unknown/N/A values
CREATE OR REPLACE FUNCTION public.normalize_array_to_string(
  arr TEXT[],
  title_case BOOLEAN DEFAULT FALSE
)
RETURNS TEXT AS $$
BEGIN
  IF arr IS NULL OR ARRAY_LENGTH(arr, 1) IS NULL OR ARRAY_LENGTH(arr, 1) = 0 THEN
    RETURN NULL;
  END IF;

  IF EXISTS (
    SELECT 1 FROM unnest(arr) AS item
    WHERE LOWER(TRIM(item)) IN ('none', 'unknown', 'n/a', '')
  ) THEN
    RETURN NULL;
  END IF;

  IF title_case THEN
    RETURN array_to_string(
      ARRAY(
        SELECT INITCAP(TRIM(item))
        FROM unnest(arr) AS item
      ),
      ', '
    );
  ELSE
    RETURN array_to_string(arr, ', ');
  END IF;
END;
$$ LANGUAGE plpgsql IMMUTABLE;

-- =====================================================
-- FUNCTION: Format Date Display
-- =====================================================
-- Formats date as "10th Jun, 2025"
CREATE OR REPLACE FUNCTION public.format_date_display(date_val DATE)
RETURNS TEXT AS $$
BEGIN
  IF date_val IS NULL THEN
    RETURN NULL;
  END IF;

  RETURN TO_CHAR(date_val, 'FMDDth Mon, YYYY');
END;
$$ LANGUAGE plpgsql IMMUTABLE;

-- =====================================================
-- FUNCTION: Format Timestamp Display (EST)
-- =====================================================
-- Formats timestamp as "10th Jun, 2025" in EST timezone
CREATE OR REPLACE FUNCTION public.format_timestamp_display_est(ts TIMESTAMP WITH TIME ZONE)
RETURNS TEXT AS $$
BEGIN
  IF ts IS NULL THEN
    RETURN NULL;
  END IF;

  RETURN TO_CHAR(
    ts AT TIME ZONE 'America/New_York',
    'FMDDth Mon, YYYY'
  );
END;
$$ LANGUAGE plpgsql IMMUTABLE;

-- =====================================================
-- FUNCTION: Calculate Listing Age
-- =====================================================
-- Calculates dynamic listing age based on status
CREATE OR REPLACE FUNCTION public.calculate_listing_age(
  mls_status TEXT,
  original_entry_timestamp TIMESTAMP WITH TIME ZONE,
  purchase_contract_date DATE,
  terminated_date DATE,
  suspended_date DATE,
  expiration_date DATE
)
RETURNS TEXT AS $$
DECLARE
  time_diff INTERVAL;
  days_diff INTEGER;
BEGIN
  -- Active listings
  IF mls_status ILIKE 'For Sale' AND original_entry_timestamp IS NOT NULL THEN
    time_diff := NOW() - original_entry_timestamp;
    
    IF time_diff < INTERVAL '1 hour' THEN
      RETURN CONCAT('Listed ', EXTRACT(MINUTE FROM time_diff)::int, ' mins ago');
    ELSIF time_diff < INTERVAL '1 day' THEN
      RETURN CONCAT('Listed ', EXTRACT(HOUR FROM time_diff)::int, ' hours ago');
    ELSE
      RETURN CONCAT('Listed ', EXTRACT(DAY FROM time_diff)::int, ' days ago');
    END IF;
  END IF;

  -- Sold listings
  IF mls_status ILIKE 'Sold' AND purchase_contract_date IS NOT NULL THEN
    days_diff := EXTRACT(DAY FROM (NOW() - purchase_contract_date))::int;
    RETURN CONCAT('Sold ', days_diff, ' days ago');
  END IF;

  -- Terminated listings
  IF mls_status ILIKE 'Terminated' AND terminated_date IS NOT NULL THEN
    days_diff := EXTRACT(DAY FROM (NOW() - terminated_date))::int;
    RETURN CONCAT('Terminated ', days_diff, ' days ago');
  END IF;

  -- Suspended listings
  IF mls_status ILIKE 'Suspended' AND suspended_date IS NOT NULL THEN
    days_diff := EXTRACT(DAY FROM (NOW() - suspended_date))::int;
    RETURN CONCAT('Suspended ', days_diff, ' days ago');
  END IF;

  -- Expired listings
  IF mls_status ILIKE 'Expired' AND expiration_date IS NOT NULL THEN
    days_diff := EXTRACT(DAY FROM (NOW() - expiration_date))::int;
    RETURN CONCAT('Expired ', days_diff, ' days ago');
  END IF;

  RETURN NULL;
END;
$$ LANGUAGE plpgsql STABLE;

-- =====================================================
-- FUNCTION: Extract Basement Status
-- =====================================================
-- Extracts basement status from basement array
CREATE OR REPLACE FUNCTION public.extract_basement_status(basement_arr TEXT[])
RETURNS TEXT AS $$
BEGIN
  IF basement_arr IS NULL OR ARRAY_LENGTH(basement_arr, 1) = 0 THEN
    RETURN NULL;
  END IF;

  RETURN (
    SELECT string_agg(
      CASE 
        WHEN b = 'Finished with Walk-Out' THEN 'Finished'
        WHEN b IN (
          'Apartment', 'Finished', 'Partially Finished', 'Unfinished', 'Crawl Space', 
          'Development Potential', 'Exposed Rock', 'Half', 'None', 'Other', 
          'Partial Basement', 'Unknown'
        ) THEN b
        ELSE NULL
      END, ', '
    )
    FROM unnest(basement_arr) AS b
    WHERE CASE 
      WHEN b = 'Finished with Walk-Out' THEN true
      WHEN b IN (
        'Apartment', 'Finished', 'Partially Finished', 'Unfinished', 'Crawl Space', 
        'Development Potential', 'Exposed Rock', 'Half', 'None', 'Other', 
        'Partial Basement', 'Unknown'
      ) THEN true
      ELSE false
    END
  );
END;
$$ LANGUAGE plpgsql IMMUTABLE;

-- =====================================================
-- FUNCTION: Extract Basement Entrance
-- =====================================================
-- Extracts basement entrance from basement array
CREATE OR REPLACE FUNCTION public.extract_basement_entrance(basement_arr TEXT[])
RETURNS TEXT AS $$
BEGIN
  IF basement_arr IS NULL OR ARRAY_LENGTH(basement_arr, 1) = 0 THEN
    RETURN NULL;
  END IF;

  RETURN (
    SELECT string_agg(
      CASE 
        WHEN b = 'Finished with Walk-Out' THEN 'Walk-Out'
        WHEN b IN ('Separate Entrance', 'Walk-Out', 'Walk-Up') THEN b
        ELSE NULL
      END, ', '
    )
    FROM unnest(basement_arr) AS b
    WHERE CASE 
      WHEN b = 'Finished with Walk-Out' THEN true
      WHEN b IN ('Separate Entrance', 'Walk-Out', 'Walk-Up') THEN true
      ELSE false
    END
  );
END;
$$ LANGUAGE plpgsql IMMUTABLE;

-- =====================================================
-- FUNCTION: Calculate Price Reduction Amount
-- =====================================================
CREATE OR REPLACE FUNCTION public.calculate_price_reduction_amount(
  original_price NUMERIC,
  current_price NUMERIC
)
RETURNS NUMERIC AS $$
BEGIN
  IF original_price IS NULL OR current_price IS NULL OR original_price <= current_price THEN
    RETURN NULL;
  END IF;

  RETURN original_price - current_price;
END;
$$ LANGUAGE plpgsql IMMUTABLE;

-- =====================================================
-- FUNCTION: Calculate Price Reduction Percent
-- =====================================================
CREATE OR REPLACE FUNCTION public.calculate_price_reduction_percent(
  original_price NUMERIC,
  current_price NUMERIC
)
RETURNS NUMERIC AS $$
BEGIN
  IF original_price IS NULL OR current_price IS NULL OR original_price <= 0 THEN
    RETURN NULL;
  END IF;

  RETURN ROUND(
    ((original_price - current_price) / original_price) * 100,
    2
  );
END;
$$ LANGUAGE plpgsql IMMUTABLE;

-- =====================================================
-- FUNCTION: Normalize City Name
-- =====================================================
-- Removes district codes (C15, C10, etc.) from city names
CREATE OR REPLACE FUNCTION public.normalize_city_name(city_name TEXT)
RETURNS TEXT AS $$
BEGIN
  IF city_name IS NULL THEN
    RETURN NULL;
  END IF;

  RETURN TRIM(REGEXP_REPLACE(city_name, '\s+[C]\d+\s*$', '', 'gi'));
END;
$$ LANGUAGE plpgsql IMMUTABLE;

-- =====================================================
-- COMPLETION
-- =====================================================
-- All helper functions have been created successfully!
-- These functions can now be used in PropertyView.sql to simplify calculations

