-- =====================================================
-- PROPERTY VIEW (UNIFIED VIEW)
-- =====================================================
-- Combines PropertyDetailsView and PropertyCardView into a single unified view
-- Includes all fields from both views plus media information
-- =====================================================
-- 
-- PREREQUISITES:
-- - Run PropertyViewCalculationHelpers.sql FIRST to create helper functions
-- - Run PropertyViewHelpers.sql (or include CTEs inline)
-- - PropertyEngagementView is optional (engagement fields default to 0 if not present)
-- 
-- REFRESH STRATEGY:
-- - Refresh daily or on data updates via scheduled job
-- - Use REFRESH MATERIALIZED VIEW CONCURRENTLY for non-blocking updates
-- - Monitor refresh performance and adjust schedule as needed
-- 
-- MAINTENANCE NOTES:
-- - Unique index required for concurrent refresh
-- - Monitor query performance and add indexes as needed
-- - Validate data quality regularly for critical fields
--
DROP MATERIALIZED VIEW IF EXISTS public."PropertyView" CASCADE;
DROP TYPE IF EXISTS public."PropertyView";
CREATE MATERIALIZED VIEW public."PropertyView" AS
-- =====================================================
-- CTEs FROM PropertyViewHelpers.sql
-- =====================================================
-- Include the WITH clause from PropertyViewHelpers.sql here
-- Copy lines starting from "WITH" through the last CTE from PropertyViewHelpers.sql
-- =====================================================
WITH
  -- Media scope: Filter active photos from Media table
  media_scope AS (
    SELECT
      m."ResourceRecordKey"                   AS "ListingKey",
      m."MediaKey",
      m."MediaURL",
      NULLIF(TRIM(m."ShortDescription"), '')  AS "AltText",
      COALESCE(m."PreferredPhotoYN", 'N')     AS "PreferredPhotoYN",
      COALESCE(m."Order", 9999)               AS "SortOrder"
    FROM public."Media" m
    WHERE COALESCE(m."MediaStatus", 'Active') = 'Active'
      AND COALESCE(m."MediaCategory", 'Photo') = 'Photo'
  ),
  -- Media primary: Get the primary image URL for each listing
  media_primary AS (
    SELECT DISTINCT ON ("ListingKey")
      "ListingKey",
      "MediaURL" AS "PrimaryImageUrl"
    FROM media_scope
    ORDER BY "ListingKey",
             CASE WHEN "PreferredPhotoYN" = 'Y' THEN 0 ELSE 1 END,
             "SortOrder",
             "MediaKey"
  ),
  -- Media count: Count total photos per listing
  media_count AS (
    SELECT "ListingKey", COUNT(*) AS "MediaCount"
    FROM media_scope
    GROUP BY "ListingKey"
  ),
  -- Next open house: Get the next upcoming open house for each listing
  -- Optimized: Split window functions into separate CTEs for better performance
  nextopenhouse_base AS (
    SELECT DISTINCT ON (oh."ListingKey")
      oh."ListingKey",
      oh."OpenHouseDate"                              AS "NextOpenHouseDate",
      oh."OpenHouseStartTime"                         AS "NextOpenHouseStartTime",
      oh."OpenHouseEndTime"                           AS "NextOpenHouseEndTime"
    FROM "OpenHouse" oh
    WHERE oh."OpenHouseDate" IS NOT NULL
      AND oh."OpenHouseStatus" IS DISTINCT FROM 'Cancelled'
    ORDER BY oh."ListingKey", oh."OpenHouseDate" ASC, oh."OpenHouseStartTime" ASC
  ),
  openhouse_flags AS (
    SELECT
      oh."ListingKey",
      BOOL_OR(oh."OpenHouseDate" >= CURRENT_DATE) AS "HasOpenHouse",
      BOOL_OR(EXTRACT(ISODOW FROM oh."OpenHouseDate") IN (6, 7)) AS "HasWeekendOpenHouse"
    FROM "OpenHouse" oh
    WHERE oh."OpenHouseDate" IS NOT NULL
      AND oh."OpenHouseStatus" IS DISTINCT FROM 'Cancelled'
    GROUP BY oh."ListingKey"
  ),
  nextopenhouse AS (
    SELECT 
      nob."ListingKey",
      nob."NextOpenHouseDate",
      nob."NextOpenHouseStartTime",
      nob."NextOpenHouseEndTime",
      COALESCE(of."HasOpenHouse", false) AS "HasOpenHouse",
      COALESCE(of."HasWeekendOpenHouse", false) AS "HasWeekendOpenHouse"
    FROM nextopenhouse_base nob
    LEFT JOIN openhouse_flags of ON of."ListingKey" = nob."ListingKey"
  ),
  -- Latest price reduction: Get the most recent price reduction data
  latestpricereduction AS (
    SELECT DISTINCT ON (ph."ListingKey")
      ph."ListingKey",
      ph."PriceReductionAmount",
      ph."PriceReductionPercent",
      ph."ReductionNumber"
    FROM "PriceReductionHistory" ph
    ORDER BY ph."ListingKey", ph."PriceChangeTimestamp" DESC
  ),
  -- Status display logic (calculated once, reused for all status fields)
  status_display_logic AS (
    SELECT
      p."ListingKey",
      CASE
        -- Rule 2: Force PRICE REDUCED if price dropped
        WHEN p."OriginalListPrice" IS NOT NULL
         AND p."ListPrice" IS NOT NULL
         AND p."OriginalListPrice" > p."ListPrice"
          THEN 'Price Reduced'
        -- Rule 1: Status = New ΓåÆ show TransactionType instead
        WHEN p."MlsStatus" = 'New'
          THEN COALESCE(p."TransactionType", 'New')
        -- Default: Show MLS Status
        ELSE p."MlsStatus"
      END AS "StatusValue"
    FROM "Property" p
  )

SELECT
  -- ======================
  -- IDENTIFIERS
  -- ======================
  p."ListingKey",
  p."ListingKey"                          AS "MLSNumber",
  p."TransactionType",

  -- ======================
  -- ADDRESS (NORMALIZED)
  -- ======================
  -- StreetNumber: Extract numeric portion, keep text in separate field
  CASE
    WHEN p."StreetNumber" ~ '^\d+$' THEN p."StreetNumber"::integer
    ELSE NULL
  END AS "StreetNumber",
  CASE
    WHEN p."StreetNumber" ~ '^\d+$' THEN NULL
    ELSE p."StreetNumber"
  END AS "StreetNumberText",
  -- Normalize StreetName to title case
  INITCAP(TRIM(p."StreetName")) AS "StreetName",
  -- Normalize StreetSuffix: "N/A" becomes NULL
  CASE
    WHEN p."StreetSuffix" = 'N/A' THEN NULL
    ELSE p."StreetSuffix"
  END AS "StreetSuffix",
  -- StreetSuffixShort: Abbreviate common street suffixes (using helper function)
  public.abbreviate_street_suffix(p."StreetSuffix") AS "StreetSuffixShort",
  p."UnitNumber",
  -- Normalize City: Remove district codes (C15, C10, etc.) (using helper function)
  public.normalize_city_name(p."City") AS "City",
  p."StateOrProvince",
  p."PostalCode",
  p."CityRegion"                          AS "Community",
  p."CountyOrParish",

  -- Γ£à Display Address String (normalized for UI + search) (using helper function)
  public.format_full_address(
    p."UnitNumber",
    p."StreetNumber"::text,
    p."StreetName",
    p."StreetSuffix",
    p."City",
    p."StateOrProvince",
    p."PostalCode"
  ) AS "FullAddress",
  -- Γ£à Complete Address String (for geocoding/lat-lng only) (using helper function)
  public.format_unparsed_address(
    p."UnitNumber",
    p."StreetNumber"::text,
    p."StreetName",
    p."StreetSuffix",
    p."City",
    p."StateOrProvince",
    p."PostalCode"
  ) AS "UnparsedAddress",

  -- ======================
  -- COORDINATES (GEOCODING)
  -- ======================
  p."Latitude",
  p."Longitude",
  p."GeocodedAt",
  p."GeocodingStatus",

-- ======================
-- STATUS & CLASS (NORMALIZED, WITH OVERRIDES)
-- ======================
-- Γ£à Enhanced MLS Status Logic (using CTE to avoid duplication)
sdl."StatusValue" AS "MlsStatus",
-- Γ£à CityRegion (alias for Community, used by PropertyCardView)
p."CityRegion"                          AS "CityRegion",

-- Contract Status untouched
p."ContractStatus",

  -- Normalize SubType ΓåÆ Friendly PropertyType
  CASE
    WHEN p."PropertySubType" = 'Att/Row/Townhouse' THEN 'Townhouse'
    ELSE p."PropertySubType"
  END                                                         AS "PropertyType",
  -- ArchitecturalStyle ΓåÆ PropertySubType
  CASE
    WHEN p."ArchitecturalStyle" IS NULL THEN NULL
    WHEN ARRAY_LENGTH(p."ArchitecturalStyle"::text[], 1) IS NULL OR ARRAY_LENGTH(p."ArchitecturalStyle"::text[], 1) = 0 THEN NULL
    ELSE ARRAY_TO_STRING(
           ARRAY(
             SELECT INITCAP(TRIM(x))
             FROM unnest(p."ArchitecturalStyle"::text[]) x
             WHERE lower(trim(x)) NOT IN ('none','unknown','n/a','')
           ), ', '
         )
  END                                                         AS "PropertySubType",
  -- Raw PropertyClass
  p."PropertyType"                                           AS "PropertyClass",



-- ======================
-- PRICING (RAW + COMPARISONS)
-- ======================

-- Validation: Ensure positive values for pricing fields
CASE WHEN p."ListPrice" > 0 THEN p."ListPrice" ELSE NULL END AS "ListPriceRaw",
-- Format ListPrice with commas (no K/M abbreviations) - from PropertyCardView
CASE 
  WHEN p."ListPrice" IS NOT NULL AND p."ListPrice" > 0
    THEN to_char(p."ListPrice", 'FM999,999,999,999')
  ELSE NULL
END AS "ListPrice",
CASE WHEN p."ClosePrice" > 0 THEN p."ClosePrice" ELSE NULL END AS "ClosePrice",
CASE WHEN p."OriginalListPrice" > 0 THEN p."OriginalListPrice" ELSE NULL END AS "OriginalListPrice",

-- Γ£à Price Reduction Amount (using helper function)
public.calculate_price_reduction_amount(p."OriginalListPrice", p."ListPrice") AS "PriceReductionAmount",

-- Γ£à Price Reduction Percentage (using helper function)
public.calculate_price_reduction_percent(p."OriginalListPrice", p."ListPrice") AS "PriceReductionPercent",

-- Γ£à Flag to signal UI badge
CASE
  WHEN p."OriginalListPrice" IS NOT NULL
   AND p."ListPrice" IS NOT NULL
   AND p."OriginalListPrice" > p."ListPrice"
    THEN TRUE
  ELSE FALSE
END AS "IsPriceReduced",

-- Γ£à Latest reduction rank (# of reductions)
lpr."ReductionNumber",

  -- ======================
  -- ROOMS (RAW)
  -- ======================
  -- Validation: Ensure non-negative values for room counts
  CASE
    WHEN p."BedroomsAboveGrade" >= 0 THEN p."BedroomsAboveGrade"
    ELSE NULL
  END AS "BedroomsAboveGrade",
  CASE
    WHEN p."BedroomsBelowGrade" >= 0 THEN p."BedroomsBelowGrade"
    ELSE NULL
  END AS "BedroomsBelowGrade",
  CASE
    WHEN p."BathroomsTotalInteger" >= 0 THEN p."BathroomsTotalInteger"
    ELSE NULL
  END AS "BathroomsTotalInteger",
  -- BedroomsDisplay (using helper function)
  public.format_bedrooms_display(
    p."BedroomsAboveGrade"::integer, 
    p."BedroomsBelowGrade"::integer
  ) AS "BedroomsDisplay",
  -- BathroomsDisplay (using helper function)
  public.format_bathrooms_display(p."BathroomsTotalInteger") AS "BathroomsDisplay",
  CASE
    WHEN p."KitchensAboveGrade" >= 0 THEN p."KitchensAboveGrade"
    ELSE NULL
  END AS "KitchensAboveGrade",
  CASE
    WHEN p."KitchensBelowGrade" >= 0 THEN p."KitchensBelowGrade"
    ELSE NULL
  END AS "KitchensBelowGrade",

  -- ======================
  -- LIVING AREA (RAW + MIN/MAX NUMERICS)
  -- ======================
  -- Living area range (raw)
  p."LivingAreaRange" AS "LivingAreaRange",
  -- LivingAreaMin (using helper function)
  public.parse_living_area_min(p."LivingAreaRange") AS "LivingAreaMin",
  -- LivingAreaMax (using helper function)
  public.parse_living_area_max(p."LivingAreaRange") AS "LivingAreaMax",


  -- ======================
  -- PARKING (MAPPINGS + CALCULATED TOTAL)
  -- ======================
  -- GarageSpaces and ParkingSpaces are direct mappings from Property table
  -- ParkingTotal is calculated as the sum of CoveredSpaces and ParkingSpaces
  -- Validation: Ensure non-negative values for parking counts
  CASE
    WHEN p."CoveredSpaces" >= 0 THEN p."CoveredSpaces"
    ELSE NULL
  END AS "GarageSpaces",
  CASE
    WHEN p."ParkingSpaces" >= 0 THEN p."ParkingSpaces"
    ELSE NULL
  END AS "ParkingSpaces",
  -- ParkingTotal: Calculated as sum of CoveredSpaces (garage) and ParkingSpaces (driveway)
  CASE
    WHEN p."CoveredSpaces" IS NULL AND p."ParkingSpaces" IS NULL THEN NULL
    WHEN (COALESCE(p."CoveredSpaces", 0) + COALESCE(p."ParkingSpaces", 0)) >= 0 
      THEN (COALESCE(p."CoveredSpaces", 0) + COALESCE(p."ParkingSpaces", 0))
    ELSE NULL
  END AS "ParkingTotal",
  -- ParkingDisplay: Formats existing values only, never derives new counts
  -- Uses GarageSpaces (garage) and ParkingSpaces (driveway) directly from table
  public.format_parking_display(
    CASE WHEN p."CoveredSpaces" >= 0 THEN p."CoveredSpaces"::integer ELSE NULL END,
    CASE WHEN p."ParkingSpaces" >= 0 THEN p."ParkingSpaces"::integer ELSE NULL END
  ) AS "ParkingDisplay",

  -- ======================
  -- LOT SIZE (ACRES ONLY, NUMERIC)
  -- ======================
  -- LotSizeAcres (using helper function)
  public.calculate_lot_size_acres(p."LotWidth", p."LotDepth") AS "LotSizeAcres",

  -- Raw lot dimension fields
  p."LotWidth",
  p."LotDepth",
  p."LotSizeUnits",


  -- ======================
  -- TIME METRICS (NO DISPLAY)
  -- ======================
  -- OriginalEntryTimestamp formatted as "10th Jun, 2025" in EST timezone (using helper function)
  public.format_timestamp_display_est(p."OriginalEntryTimestamp") AS "OriginalEntryTimestamp",
  CASE
    WHEN p."OriginalEntryTimestamp" IS NOT NULL
      THEN EXTRACT(DAY FROM (NOW() - p."OriginalEntryTimestamp"))::integer
    ELSE NULL
  END AS "DaysOnMarket",

  -- ======================
  -- ENGAGEMENT (AGGREGATED)
  -- ======================
  -- Note: PropertyEngagementView not included - set to 0 by default
  -- To enable engagement metrics, create PropertyEngagementView and add:
  -- LEFT JOIN public."PropertyEngagementView" eng ON eng."ListingKey" = p."ListingKey"
  0::integer AS "ViewCount",
  0::integer AS "SaveCount",
  0::integer AS "LikeCount",
  0::integer AS "TodayViewCount",
  0::integer AS "TodaySaveCount",
  
  -- Γ£à New Listing Flag (7 days or less)
  CASE
    WHEN p."OriginalEntryTimestamp" IS NOT NULL
     AND EXTRACT(DAY FROM (NOW() - p."OriginalEntryTimestamp")) <= 7
      THEN TRUE
    ELSE FALSE
  END AS "isNewListing",
  
-- ======================
-- BASEMENT (NORMALIZED)
-- ======================

-- BasementStatus (using helper function)
public.extract_basement_status(p."Basement") AS "BasementStatus",

-- BasementEntrance (using helper function)
public.extract_basement_entrance(p."Basement") AS "BasementEntrance",


-- Γ£à BasementKitchen: correct mapping using kitchens below grade
CASE
  WHEN COALESCE(p."KitchensBelowGrade", 0) >= 1 THEN TRUE
  ELSE FALSE
END AS "BasementKitchen",

-- ✅ BasementBedroom: correct mapping using bedrooms below grade
CASE
  WHEN COALESCE(p."BedroomsBelowGrade", 0) >= 1 THEN TRUE
  ELSE FALSE
END AS "BasementBedroom",

-- BasementRental: keywords indicating potential rental
CASE
  WHEN p."Basement" IS NOT NULL
       AND EXISTS (
         SELECT 1
         FROM unnest(p."Basement"::text[]) AS b
         WHERE b IN ('Apartment', 'Separate Entrance', 'Walk-Out')
       )
    THEN TRUE
  ELSE FALSE
END AS "BasementRental",

  
    -- ======================
  -- FINANCIALS (RAW)
  -- ======================
  p."TaxAnnualAmount",
  p."TaxYear",
  p."AssociationFee",
  p."AdditionalMonthlyFee",

  -- ======================
  -- STATUS DATES (FORMATTED)
  -- ======================
  -- All dates formatted as "10th Jun, 2025" (using helper function)
  public.format_date_display(p."CloseDate") AS "CloseDate",
  public.format_date_display(p."ConditionalExpiryDate") AS "ConditionalExpiryDate",
  public.format_date_display(p."PurchaseContractDate") AS "PurchaseContractDate",
  public.format_date_display(p."SuspendedDate") AS "SuspendedDate",
  public.format_date_display(p."TerminatedDate") AS "TerminatedDate",
  public.format_date_display(p."ExpirationDate") AS "ExpirationDate",
  
    -- ======================
  -- LISTING AGE (DYNAMIC)
  -- ======================
  -- ListingAge (using helper function)
  public.calculate_listing_age(
    p."MlsStatus",
    p."OriginalEntryTimestamp",
    p."PurchaseContractDate",
    p."TerminatedDate",
    p."SuspendedDate",
    p."ExpirationDate"
  ) AS "ListingAge",


  -- ======================
  -- FEES (NORMALIZED)
  -- ======================
  -- Normalize AssociationFeeIncludes (using helper function)
  public.normalize_array_to_string(p."AssociationFeeIncludes") AS "AssociationFeeIncludes",

  -- ======================
  -- FEATURES & AMENITIES (NORMALIZED)
  -- ======================
  -- Normalize PropertyFeatures (using helper function with title case)
  public.normalize_array_to_string(p."PropertyFeatures", true) AS "PropertyFeatures",
  -- Normalize InteriorFeatures (using helper function with title case)
  public.normalize_array_to_string(p."InteriorFeatures", true) AS "InteriorFeatures",
  -- Normalize ExteriorFeatures (using helper function with title case)
  public.normalize_array_to_string(p."ExteriorFeatures", true) AS "ExteriorFeatures",
  -- Normalize PoolFeatures (using helper function)
  public.normalize_array_to_string(p."PoolFeatures") AS "PoolFeatures",
  -- Normalize AssociationAmenities (using helper function)
  public.normalize_array_to_string(p."AssociationAmenities") AS "AssociationAmenities",

  -- ======================
  -- PROPERTY SPECS (NORMALIZED)
  -- ======================
  -- PropertyAge: Normalize range values and text
  CASE
    WHEN p."ApproximateAge" ~ '^\d+-\d+$' THEN p."ApproximateAge"
    WHEN p."ApproximateAge" = 'New' THEN '0-5'
    WHEN p."ApproximateAge" IS NULL THEN NULL
    ELSE p."ApproximateAge"
  END AS "PropertyAge",
  -- ArchitecturalStyle (using helper function)
  public.normalize_array_to_string(p."ArchitecturalStyle") AS "ArchitecturalStyle",
  -- ======================
  -- WATER / BALCONY / LOCKER / WATERFRONT (NORMALIZED)
  -- ======================
  p."WaterfrontYN",
  p."BalconyType",
  p."Locker",
  p."WaterBodyName",
  -- Normalize WaterView (using helper function)
  public.normalize_array_to_string(p."WaterView") AS "WaterView",
  -- Normalize WaterfrontFeatures (using helper function)
  public.normalize_array_to_string(p."WaterfrontFeatures") AS "WaterfrontFeatures",

  -- ======================
  -- UTILITIES & SYSTEMS (NORMALIZED)
  -- ======================
  -- Normalize Cooling (using helper function)
  public.normalize_array_to_string(p."Cooling") AS "Cooling",
  -- HeatType: Keep as string, normalize special values
  CASE
    WHEN p."HeatType" = 'None' OR p."HeatType" = 'Unknown' THEN NULL
    ELSE p."HeatType"
  END AS "HeatType",
  p."FireplaceYN" AS "FireplaceYN",
  -- Normalize Sewer (using helper function)
  public.normalize_array_to_string(p."Sewer") AS "Sewer",

  -- ======================
  -- LEASE-RELATED (NORMALIZED)
  -- ======================
  p."Furnished",
  
  -- ======================
  -- POSSESSION (NORMALIZED)
  -- ======================
  -- Normalize PossessionType: Handle special values and provide consistent formatting
  CASE
    WHEN p."PossessionType" IS NULL OR p."PossessionType" = '' THEN NULL
    WHEN UPPER(p."PossessionType") IN ('NONE', 'UNKNOWN', 'N/A', '') THEN NULL
    ELSE p."PossessionType"
  END AS "Possession",
  -- Normalize PetsAllowed (using helper function)
  public.normalize_array_to_string(p."PetsAllowed") AS "PetsAllowed",
  -- Normalize RentIncludes (using helper function)
  public.normalize_array_to_string(p."RentIncludes") AS "RentIncludes",

  -- ======================
  -- REMARKS (RAW)
  -- ======================
  p."PublicRemarks",

  -- ======================
  -- OPEN HOUSE (NO DISPLAY FIELDS)
  -- ======================
  noh."HasOpenHouse",
  noh."HasWeekendOpenHouse",
  CASE
    WHEN noh."NextOpenHouseDate" = CURRENT_DATE THEN TRUE
    ELSE FALSE
  END AS "HasOpenHouseToday",
  CASE
    WHEN noh."NextOpenHouseDate" = CURRENT_DATE + 1 THEN TRUE
    ELSE FALSE
  END AS "HasOpenHouseTomorrow",
  CASE
    WHEN noh."NextOpenHouseDate" IS NOT NULL
     AND EXTRACT(ISODOW FROM noh."NextOpenHouseDate") IN (6, 7)
      THEN TRUE
    ELSE FALSE
  END AS "HasNextWeekendOpenHouse",
  -- NextOpenHouseDate: Convert to EST and format as "10th Jun, 2025"
  CASE
    WHEN noh."NextOpenHouseDate" IS NOT NULL
      THEN TO_CHAR(
             noh."NextOpenHouseDate"::timestamp AT TIME ZONE 'America/New_York',
             'FMDDth Mon, YYYY'
           )
    ELSE NULL
  END AS "NextOpenHouseDate",
  noh."NextOpenHouseStartTime",
  noh."NextOpenHouseEndTime",
  -- OpenHouseDisplay: Formatted as "Open House - Sat 25th, 2:00-4:00PM"
  CASE
    WHEN noh."NextOpenHouseDate" IS NOT NULL
      THEN CONCAT(
             'Open House - ',
             TO_CHAR(noh."NextOpenHouseDate" AT TIME ZONE 'America/New_York', 'Dy DDth'),
             ', ',
             CASE 
               WHEN noh."NextOpenHouseStartTime" IS NOT NULL AND noh."NextOpenHouseEndTime" IS NOT NULL
                 THEN CONCAT(
                        TO_CHAR(noh."NextOpenHouseStartTime", 'HH12:MIAM'),
                        '-',
                        TO_CHAR(noh."NextOpenHouseEndTime", 'HH12:MIAM')
                      )
               ELSE ''
             END
           )
    ELSE NULL
  END AS "OpenHouseDisplay",

  -- ======================
  -- MEDIA / VIRTUAL TOUR / METADATA (RAW)
  -- ======================
  (p."VirtualTourURLUnbranded" IS NOT NULL) AS "HasVirtualTour",
  p."VirtualTourURLUnbranded" AS "VirtualTourUrl",
  p."ModificationTimestamp",
  
  -- ======================
  -- MEDIA (FROM PROPERTY CARD VIEW)
  -- ======================
  mp."PrimaryImageUrl",
  COALESCE(mc."MediaCount", 0)              AS "MediaCount"

FROM "Property" p
LEFT JOIN nextopenhouse        noh ON noh."ListingKey" = p."ListingKey"
LEFT JOIN latestpricereduction lpr ON lpr."ListingKey" = p."ListingKey"
LEFT JOIN media_primary mp ON mp."ListingKey" = p."ListingKey"
LEFT JOIN media_count   mc ON mc."ListingKey" = p."ListingKey"
LEFT JOIN status_display_logic sdl ON sdl."ListingKey" = p."ListingKey"
-- NOTE: This view includes ALL properties regardless of status (Sold, Expired, Cancelled, Withdrawn, etc.)
-- No WHERE clause filters are applied - all properties from the Property table are included;

-- =====================================================
-- INDEX CREATION
-- =====================================================
-- Drop existing indexes
DO $$
DECLARE
  rec RECORD;
BEGIN
  FOR rec IN
    SELECT indexname
    FROM pg_indexes
    WHERE schemaname = 'public'
      AND tablename = 'PropertyView'
  LOOP
    EXECUTE format('DROP INDEX IF EXISTS %I;', rec.indexname);
  END LOOP;
END $$;

-- =====================================================
-- UNIQUE INDEX (REQUIRED FOR CONCURRENT REFRESH)
-- =====================================================
CREATE UNIQUE INDEX IF NOT EXISTS idx_pv_unique_listingkey
  ON public."PropertyView" ("ListingKey");

-- =====================================================
-- CORE FILTERS & SORTS (HIGH PRIORITY)
-- =====================================================
-- Location indexes (most common filters)
CREATE INDEX IF NOT EXISTS idx_pv_city
  ON public."PropertyView" ("City");

CREATE INDEX IF NOT EXISTS idx_pv_community
  ON public."PropertyView" ("Community");

CREATE INDEX IF NOT EXISTS idx_pv_county
  ON public."PropertyView" ("CountyOrParish");

-- Status & classification (critical for filtering)
CREATE INDEX IF NOT EXISTS idx_pv_mlsstatus
  ON public."PropertyView" ("MlsStatus");

CREATE INDEX IF NOT EXISTS idx_pv_contractstatus
  ON public."PropertyView" ("ContractStatus");

CREATE INDEX IF NOT EXISTS idx_pv_propertytype
  ON public."PropertyView" ("PropertyType");

CREATE INDEX IF NOT EXISTS idx_pv_propertyclass
  ON public."PropertyView" ("PropertyClass");

-- Pricing (essential for search and sorting)
CREATE INDEX IF NOT EXISTS idx_pv_listprice
  ON public."PropertyView" ("ListPrice");

CREATE INDEX IF NOT EXISTS idx_pv_listpriceraw
  ON public."PropertyView" ("ListPriceRaw");

CREATE INDEX IF NOT EXISTS idx_pv_pricereduction
  ON public."PropertyView" ("PriceReductionAmount", "PriceReductionPercent");

-- =====================================================
-- ROOM & AREA FILTERS (MEDIUM PRIORITY)
-- =====================================================
-- Room counts (bedrooms, bathrooms)
CREATE INDEX IF NOT EXISTS idx_pv_bed_bath
  ON public."PropertyView" ("BedroomsAboveGrade", "BedroomsBelowGrade", "BathroomsTotalInteger");

-- Living area (numeric helpers for range queries)
CREATE INDEX IF NOT EXISTS idx_pv_livingarea_minmax
  ON public."PropertyView" ("LivingAreaMin", "LivingAreaMax");

-- Time on market (for sorting and filtering)
CREATE INDEX IF NOT EXISTS idx_pv_daysonmarket
  ON public."PropertyView" ("DaysOnMarket");

-- =====================================================
-- EXTENDED FILTERS (LOWER PRIORITY)
-- =====================================================
-- Lot size and dimensions
CREATE INDEX IF NOT EXISTS idx_pv_lot_acres
  ON public."PropertyView" ("LotSizeAcres");

CREATE INDEX IF NOT EXISTS idx_pv_lot_dims
  ON public."PropertyView" ("LotWidth", "LotDepth");

-- Parking
CREATE INDEX IF NOT EXISTS idx_pv_parking
  ON public."PropertyView" ("GarageSpaces", "ParkingSpaces", "ParkingTotal");

-- Basement (normalized fields)
CREATE INDEX IF NOT EXISTS idx_pv_basement_status
  ON public."PropertyView" ("BasementStatus");

CREATE INDEX IF NOT EXISTS idx_pv_basement_entrance
  ON public."PropertyView" ("BasementEntrance");

CREATE INDEX IF NOT EXISTS idx_pv_basement_flags
  ON public."PropertyView" ("BasementKitchen", "BasementBedroom", "BasementRental");

-- Financials and fees
CREATE INDEX IF NOT EXISTS idx_pv_taxes_fees
  ON public."PropertyView" ("TaxAnnualAmount", "TaxYear", "AssociationFee", "AdditionalMonthlyFee");

-- Status dates
CREATE INDEX IF NOT EXISTS idx_pv_status_dates
  ON public."PropertyView" ("SuspendedDate", "TerminatedDate", "ExpirationDate");

-- Utilities and lease terms
CREATE INDEX IF NOT EXISTS idx_pv_heattype
  ON public."PropertyView" ("HeatType");

CREATE INDEX IF NOT EXISTS idx_pv_furnished
  ON public."PropertyView" ("Furnished");

CREATE INDEX IF NOT EXISTS idx_pv_possession
  ON public."PropertyView" ("Possession");

-- Features and amenities (text search indexes for comma-separated strings)
CREATE INDEX IF NOT EXISTS idx_pv_property_features
  ON public."PropertyView" ("PropertyFeatures");

CREATE INDEX IF NOT EXISTS idx_pv_interior_features
  ON public."PropertyView" ("InteriorFeatures");

CREATE INDEX IF NOT EXISTS idx_pv_exterior_features
  ON public."PropertyView" ("ExteriorFeatures");

CREATE INDEX IF NOT EXISTS idx_pv_pool_features
  ON public."PropertyView" ("PoolFeatures");

CREATE INDEX IF NOT EXISTS idx_pv_association_amenities
  ON public."PropertyView" ("AssociationAmenities");

CREATE INDEX IF NOT EXISTS idx_pv_architectural_style
  ON public."PropertyView" ("ArchitecturalStyle");

-- Additional text indexes for utilities and lease terms
CREATE INDEX IF NOT EXISTS idx_pv_cooling
  ON public."PropertyView" ("Cooling");

CREATE INDEX IF NOT EXISTS idx_pv_sewer
  ON public."PropertyView" ("Sewer");

CREATE INDEX IF NOT EXISTS idx_pv_pets_allowed
  ON public."PropertyView" ("PetsAllowed");

CREATE INDEX IF NOT EXISTS idx_pv_rent_includes
  ON public."PropertyView" ("RentIncludes");

CREATE INDEX IF NOT EXISTS idx_pv_association_fee_includes
  ON public."PropertyView" ("AssociationFeeIncludes");

-- Open house and media
CREATE INDEX IF NOT EXISTS idx_pv_openhouse
  ON public."PropertyView" ("HasOpenHouse", "HasWeekendOpenHouse", "NextOpenHouseDate")
  WHERE "HasOpenHouse" = true;

CREATE INDEX IF NOT EXISTS idx_pv_waterbody
  ON public."PropertyView" ("WaterBodyName");

CREATE INDEX IF NOT EXISTS idx_pv_waterview
  ON public."PropertyView" ("WaterView");

CREATE INDEX IF NOT EXISTS idx_pv_waterfront_features
  ON public."PropertyView" ("WaterfrontFeatures");

CREATE INDEX IF NOT EXISTS idx_pv_virtualtour
  ON public."PropertyView" ("VirtualTourUrl");

CREATE INDEX IF NOT EXISTS idx_pv_modified_at
  ON public."PropertyView" ("ModificationTimestamp");

-- =====================================================
-- COORDINATE INDEXES (GEOCODING)
-- =====================================================
CREATE INDEX IF NOT EXISTS idx_pv_coordinates 
    ON public."PropertyView" ("Latitude", "Longitude") 
    WHERE "Latitude" IS NOT NULL AND "Longitude" IS NOT NULL;

CREATE INDEX IF NOT EXISTS idx_pv_geocoding_status 
    ON public."PropertyView" ("GeocodingStatus") 
    WHERE "GeocodingStatus" IS NOT NULL;

-- =====================================================
-- COMPLETION
-- =====================================================
-- All indexes have been created successfully!
-- 
-- REFRESH COMMAND:
-- IMPORTANT: Use CONCURRENT refresh to avoid blocking reads during refresh
-- REFRESH MATERIALIZED VIEW CONCURRENTLY public."PropertyView";
--
-- TIMEOUT HANDLING:
-- If you encounter timeout errors, try one of these approaches:
--
-- Option 1: Increase statement timeout (recommended for Supabase)
-- SET statement_timeout = '30min';
-- REFRESH MATERIALIZED VIEW CONCURRENTLY public."PropertyView";
-- RESET statement_timeout;
--
-- Option 2: Refresh without CONCURRENT (faster but blocks reads)
-- REFRESH MATERIALIZED VIEW public."PropertyView";
--
-- Option 3: Refresh in smaller batches (if you have date-based partitioning)
-- -- This requires custom logic based on your data distribution
--
-- PERFORMANCE NOTES:
-- - Ensure indexes exist on base tables: Property, Media, OpenHouse, PriceReductionHistory
-- - The view uses optimized CTEs to minimize window function overhead
-- - Monitor refresh time and adjust timeout as needed
--
-- IMPORTANT: If sold properties or other statuses are missing from the view,
-- refresh the materialized view to ensure it matches the current definition.
-- The view definition includes ALL properties regardless of status.
--
-- MONITORING:
-- Check index usage in Supabase Dashboard > Database > Indexes
-- Monitor query performance in Supabase Dashboard > Database > Logs
-- Check refresh progress: SELECT * FROM pg_stat_progress_create_materialized_view;

