-- =====================================================
-- PROPERTY VIEW HELPERS (CTEs)
-- =====================================================
-- These CTEs are used by PropertyView
-- Copy the WITH clause below into PropertyView.sql
-- =====================================================

WITH
  -- Media scope: Filter active photos from Media table
  -- Used by: media_primary, media_count
  media_scope AS (
    SELECT
      m."ResourceRecordKey"                   AS "ListingKey",
      m."MediaKey",
      m."MediaURL",
      NULLIF(TRIM(m."ShortDescription"), '')  AS "AltText",
      COALESCE(m."PreferredPhotoYN", 'N')     AS "PreferredPhotoYN",
      COALESCE(m."Order", 9999)               AS "SortOrder"
    FROM public."Media" m
    WHERE COALESCE(m."MediaStatus", 'Active') = 'Active'
      AND COALESCE(m."MediaCategory", 'Photo') = 'Photo'
  ),
  -- Media primary: Get the primary image URL for each listing
  -- Used by: PropertyView (for PrimaryImageUrl)
  media_primary AS (
    SELECT DISTINCT ON ("ListingKey")
      "ListingKey",
      "MediaURL" AS "PrimaryImageUrl"
    FROM media_scope
    ORDER BY "ListingKey",
             CASE WHEN "PreferredPhotoYN" = 'Y' THEN 0 ELSE 1 END,
             "SortOrder",
             "MediaKey"
  ),
  -- Media count: Count total photos per listing
  -- Used by: PropertyView (for MediaCount)
  media_count AS (
    SELECT "ListingKey", COUNT(*) AS "MediaCount"
    FROM media_scope
    GROUP BY "ListingKey"
  ),
  -- Next open house: Get the next upcoming open house for each listing
  -- Used by: PropertyView (for open house fields)
  nextopenhouse AS (
    SELECT DISTINCT ON (oh."ListingKey")
      oh."ListingKey",
      oh."OpenHouseDate"                              AS "NextOpenHouseDate",
      oh."OpenHouseStartTime"                         AS "NextOpenHouseStartTime",
      oh."OpenHouseEndTime"                           AS "NextOpenHouseEndTime",
      BOOL_OR(oh."OpenHouseDate" >= CURRENT_DATE) OVER (PARTITION BY oh."ListingKey") AS "HasOpenHouse",
      BOOL_OR(EXTRACT(ISODOW FROM oh."OpenHouseDate") IN (6, 7)) OVER (PARTITION BY oh."ListingKey") AS "HasWeekendOpenHouse"
    FROM "OpenHouse" oh
    WHERE oh."OpenHouseDate" IS NOT NULL
      AND oh."OpenHouseStatus" IS DISTINCT FROM 'Cancelled'
    ORDER BY oh."ListingKey", oh."OpenHouseDate" ASC, oh."OpenHouseStartTime" ASC
  ),
  -- Latest price reduction: Get the most recent price reduction data
  -- Used by: PropertyView (for ReductionNumber)
  latestpricereduction AS (
    SELECT DISTINCT ON (ph."ListingKey")
      ph."ListingKey",
      ph."PriceReductionAmount",
      ph."PriceReductionPercent",
      ph."ReductionNumber"
    FROM "PriceReductionHistory" ph
    ORDER BY ph."ListingKey", ph."PriceChangeTimestamp" DESC
  )

