drop materialized view if exists public."RoomDetailsView" cascade;
drop type if exists public."RoomDetailsView";

create materialized view public."RoomDetailsView" as
WITH cleaned_features AS (
  SELECT
    "RoomKey",
    ARRAY_REMOVE(
      ARRAY[
        CASE 
          WHEN LOWER(TRIM(COALESCE("RoomFeature1", ''))) IN ('none', 'unknown', 'n/a', '') THEN NULL
          ELSE INITCAP(TRIM("RoomFeature1"))
        END,
        CASE 
          WHEN LOWER(TRIM(COALESCE("RoomFeature2", ''))) IN ('none', 'unknown', 'n/a', '') THEN NULL
          ELSE INITCAP(TRIM("RoomFeature2"))
        END,
        CASE 
          WHEN LOWER(TRIM(COALESCE("RoomFeature3", ''))) IN ('none', 'unknown', 'n/a', '') THEN NULL
          ELSE INITCAP(TRIM("RoomFeature3"))
        END
      ],
      NULL
    ) AS "CleanedFeaturesArray"
  FROM "PropertyRooms"
)
SELECT
  pr."RoomKey",
  pr."ListingKey",
  pr."RoomType",
  pr."RoomLevel",
  pr."RoomDescription",
  CASE
    WHEN pr."RoomLength" IS NOT NULL
    AND pr."RoomWidth" IS NOT NULL THEN (
      (pr."RoomLength"::text || ' x '::text) || pr."RoomWidth"::text
    ) || CASE
      WHEN pr."RoomAreaUnits" IS NOT NULL THEN ' '::text || pr."RoomAreaUnits"
      ELSE ' ft'::text
    END
    ELSE NULL::text
  END AS "RoomMeasurements",
  -- RoomFeatures: Cleaned and normalized string (filters invalid values, applies title case)
  CASE
    WHEN cf."CleanedFeaturesArray" IS NULL OR ARRAY_LENGTH(cf."CleanedFeaturesArray", 1) IS NULL OR ARRAY_LENGTH(cf."CleanedFeaturesArray", 1) = 0
    THEN NULL
    ELSE ARRAY_TO_STRING(cf."CleanedFeaturesArray", ', ')
  END AS "RoomFeatures",
  -- RoomFeaturesArray: Cleaned array (filters invalid values, applies title case)
  cf."CleanedFeaturesArray" AS "RoomFeaturesArray",
  ROW_NUMBER() OVER (
    PARTITION BY pr."ListingKey"
    ORDER BY
      (
        CASE pr."RoomLevel"
          WHEN 'Main'::text THEN 1
          WHEN '2nd'::text THEN 2
          WHEN '3rd'::text THEN 3
          WHEN 'Bsmt'::text THEN 4
          WHEN 'Basement'::text THEN 4
          ELSE 5
        END
      ),
      pr."RoomType",
      pr."RoomKey"
  ) AS "RoomSortOrder"
FROM
  "PropertyRooms" pr
LEFT JOIN cleaned_features cf ON cf."RoomKey" = pr."RoomKey"
WHERE
  pr."RoomType" IS NOT NULL
ORDER BY
  pr."ListingKey",
  (
    CASE pr."RoomLevel"
      WHEN 'Main'::text THEN 1
      WHEN '2nd'::text THEN 2
      WHEN '3rd'::text THEN 3
      WHEN 'Bsmt'::text THEN 4
      WHEN 'Basement'::text THEN 4
      ELSE 5
    END
  ),
  pr."RoomType";

-- =====================================================
-- INDEXES (REQUIRED FOR CONCURRENT REFRESH)
-- =====================================================

-- Unique index required for REFRESH MATERIALIZED VIEW CONCURRENTLY
CREATE UNIQUE INDEX IF NOT EXISTS idx_rdv_unique_roomkey
  ON public."RoomDetailsView" ("RoomKey");

-- Performance indexes
CREATE INDEX IF NOT EXISTS idx_rdv_listingkey
  ON public."RoomDetailsView" ("ListingKey");
